* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: #6F6F6F;
}
h1 {
    font-size: 27px;
    font-weight: 900;
    color: #fff;
}
h2 {
    font-size: 18px;
    font-weight: 900;
}
.subt {
    font-size: 14px;
    font-weight: 700;
}
body {
    font-family: 'Roboto', sans-serif;
    color: #fff;
}

/* ASIDE MENU */
.nav-menu {
    background-color: rgb(0, 0, 0);
    width: 50px;
    height: calc(100vh - 90px) ;
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.icon {
    height: 50px;
    width: 50px;
    padding: 10px;
}
.icon-small {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.icon-small img {
    width: 20px;
    text-align: center;
}
.wrap-top-icon-sm {
    display: none;
}
.wrap-user-sm {
    display: none;
}
hr {
    width: 200px;
    margin: 0 0 16px;
    opacity: 0.3;
}
.user-list-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.user_bg {
    background-color: #808080;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-bottom: 5px;

}


/* MAIN AREA MOODS*/
.wrapper-items {
    background-color: #141922;
    height: calc(100vh - 90px) ;
    overflow-y: auto;
    padding: 16px;
}
.menu-moods {
    text-align: center;
    text-transform: uppercase;
}
.menu-moods li {
    display: inline-block;
    padding: 4px;
}
.menu-moods a {
    font-size: 13px;
    font-weight: 900;
}
.album-item {
    text-align: center;
}
.albums-played {
    display: flex;
    flex-wrap: wrap;
}
.fake-album {
    height: 200px;
    width: 200px;
    display: inline-block;
    background-color: #ccc;
}


/* FOOTER */
.player-nav {
    background-color: #282828;
    height: 90px;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.onplay-lft {
    display: flex;
}
.controller {
    display: flex;
    flex-direction: column;
}
.progress-time {
    display: flex;
}


/* Small devices (tablets, 768px and up) */
@media all and (min-width:768px) {
    .nav-top-icon-xs {
        display: none;
    }
    .wrap-top-icon-sm {
        display: block;
    }
    .nav-menu {
        width: 230px;
        padding: 16px;
        overflow: hidden;
    }
    .icon-logo-sm {
        margin-bottom: 16px;
    }
    .icon-logo-sm img{
        height: 40px;
    }
    .nav-search-sm p,
    .crea p,
    .wrap-user-sm p {
        display: inline-block;
        vertical-align: middle;
    }
    .wrap-user-xs {
        display: none;
    }
    .wrap-user-sm {
        display: block;
    }
    .nav-search-sm img{
        height: 30px;
        vertical-align: middle;
    }
    .nav-search-sm li {
        margin-bottom: 8px;
    }
    .playlist h5 {
        font-size: 14px;
        font-weight: 900;
        text-transform: uppercase;
        padding: 16px 0 8px;
    }
    .crea {
        margin-bottom: 16px;
    }
    .crea i {
        background-color: #ccc;
        color: #000;
        width: 40px;
        height: 40px;
        text-align: center;
        vertical-align: middle;
        padding-top: 10px;
        font-size: 22px;
    }
    .crea p {
        font-size: 16px;
        font-weight: 900;
    }
    .palylist_name {
        font-size: 14px;
        font-weight: 700;
        letter-spacing: 1px;
    }
    .palylist_name li {
        margin-bottom: 8px;
    }
    .wrap-user-sm li{
        height: 40px;
    }
    .wrap-user-sm li a{
        height: 40px;
    }
    .user-sm{
        height: 40px;
        vertical-align: middle;
        margin-right: 8px;
        background-color: #ccc;
        border-radius: 50%;
    }
    .download {
        height: 30px;
        vertical-align: middle;
    }
}

/* Medium devices (desktops, 992px and up) */
@media all and (min-width:992px) {

}

/* Large devices (large desktops, 1200px and up) */
@media all and (min-width:1200px) {

}