* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
.inline {
    display: inline-block;
}
body {
    font-family: 'Roboto', sans-serif;
    color: #fff;
}


.nav-menu {
    background-color: rgb(0, 0, 0);
    width: 50px;
    height: calc(100vh - 90px) ;
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.wrapper-items {
    background-color: #141922;
    height: calc(100vh - 90px) ;
    overflow-y: auto;
    
}
.player-nav {
    background-color: #282828;
    height: 90px;
}
.icon {
    height: 50px;
    width: 50px;
    background-color: #ccc;
    padding: 10px;
    margin-bottom: 5px; /* forse da levare*/
}
.wrap-top-icon-sm {
    display: none;
}






/* Small devices (tablets, 768px and up) */
@media all and (min-width:768px) {
    .nav-top-icon-xs {
        display: none;
    }
    .wrap-top-icon-sm {
        display: block;
    }
    .nav-menu {
        width: 230px;
    }
}

/* Medium devices (desktops, 992px and up) */
@media all and (min-width:992px) {

}

/* Large devices (large desktops, 1200px and up) */
@media all and (min-width:1200px) {

}